<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094933810967-skgqnqid2q30oo7qjdp7evcfsrg6hth8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094933810967-skgqnqid2q30oo7qjdp7evcfsrg6hth8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094933810967-8kiaolc98k3iabt7rs4crp7f65fd7dic.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsVno6y9hXO2avjgQFaSu5joEPP2R9-Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>1094933810967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-36ad7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-36ad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094933810967:ios:39a6bbe960db20248cf152</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-36ad7.firebaseio.com</string>
</dict>
</plist>